:root {
    --yellow: #edf1ce;
    --green: #94b79d95;
    --turquoise: #19282228;
    --darkblue: #223e42;
    --transparent: #f2f3ead7;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: auto;
    align-content: center;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sorting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;


}

.sorting button {
    height: 2rem;
    width: 10rem;
    padding: 5px 10px;
    background-color: #73BBC9;
    border-radius: 15px;
    border: 1px solid rgba(133, 133, 133);
}

.todoListItemContainerWithInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    margin-top: 2rem;
}

/* .todoInput {
    background-color: red;
} */



.conditionalContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #252832;
    font-size: 1rem;
    justify-content: space-between;
    width: 20rem;
    line-height: 1;
    padding: 0.5rem 1rem;
    background-color: #e8e8ed;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 25px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-bottom: 1rem;
}

.label {
    font-style: italic;
    font-size: 1.3rem;
}


.removeBtn {
    background-image: url(/src/components/img/trash.svg);
}

.editBtn {
    background-image: url(/src/components/img/edit.svg);
}

.saveBtn {
    background-image: url(/src/components/img/save.svg);
}

.plus {
    background-image: url(/src/components/img/plus.svg);
}

.btn {
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    margin-left: 0.4rem;
    cursor: pointer;
}

.editForm {
    margin-top: 1.5rem;
    margin-bottom: 1.05rem;
}

.formInput {
    font-size: 1rem;
    font-style: italic;
    padding: 0.3rem 0.2rem;
    /* border-style: inset; */
    border-radius: 15px;
    /* color: var(--darkblue); */
    /* border-color: var(--darkblue); */
    background-color: var(--transparent);
    transition: 0.4s ease-in-out;
    border: 1px solid rgba(133, 133, 133);
}

.formInput:focus {
    background-color: white;
    padding: 0.5rem 0.4rem;

}


body {


    background-color: #F1D4E5;


}

.inputGroupe {
    display: flex;

    margin-bottom: 2rem;
}

.inputGroupe input {
    min-height: 30px;
    border-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    width: 100%;
    color: #262626;
    display: block;
    padding-inline: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #BDBDBD;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #BDBDBD;
    outline: 0;
}

.inputGroupe .addButton {

    position: relative;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid #BDBDBD;
    padding: 0rem 0.8rem;
    font-size: 1rem;
    transition: background-color 0.15s ease-in-out;
    /* background-color: #E8E8ED; */
}

.addButton:hover {
    background-color: #E0DDDD;
    transition: all 0.3s ease;
}

.addButton:active {
    background-color: #CECBCB;
}

.addButtonIcon {
    size: 1rem;
    color: #262626;
}

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    .container {
        width: 100%;
    }
}

/* @media (max-width: 767px) {} */

/* .ListItem {
    color: #00ae6b;
    display: block;
    width: 30%;
    height: calc(1.5rem + 1px);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    font-family: "Fredericka the Great";
    line-height: 1;
    color: #262626;
    background-color: #dbf0f3;
    background-clip: padding-box;
    border: 1px solid #cb1765;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

} */

/* .removeButton {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #262626;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #bfbfbf;
    border: 1px solid #bdbdbd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
} */

@import url('https://fonts.googleapis.com/css?family=Kablammo&display=swap');

/* 
body {

    background-color: #ceedc8;

} */

/* .mainContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #262626;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 15px;
    border: 5px solid #b12c2c;
    max-width: 40rem;
    height: 30rem;
    box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.3);
} */

/* navbar {
    background-color: transparent;
    height: 5rem;
    color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap: 60px;
} */

/* .navbar_links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    gap: 60px;
} */

/* a {
    color: #f2f2f2;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 50%;
    padding: 5px 10px;
} */


/* a:hover {
    color: #262626;
    transition: all 0.3s ease;
}

.todoInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
} */

/* new todolist */
/* h1 {
    font-size: 3rem;
    font-weight: lighter;
    font-family: 'Kablammo', serif;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #7414cd;
} */

/* form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1 rem;
    margin-top: 1rem;

} */

/* .label {
    color: #f2f2f2;
    font-size: 1rem;
    margin-right: 1rem;
} */

/* button add */
/* input {
    display: block;
    width: 80%;
    height: calc(1.5rem + 2px);
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: lighter;
    font-family: "Fredericka the Great";
    line-height: 1;
    color: #262626;
    background-color: #dbf0f3;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */

/* inputGroupe {
    display: flex;
    border: 1 solid #bdbdbd;
} */

/* .addButton {
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    color: #262626;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #bfbfbf;
    border: 1px solid #bdbdbd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
} */
/* 
.inputGroupe .addButton {
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
} */
/* 
.inputGroupe input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
    width: 100%;
    color: #262626;
} */

/* .todoListItemContainer {
    display: flex;
    width: 18rem;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
} */

/* .loading p {
    color: #bfbfbf;
} */


/* 
.removeButton:hover {
    transform: scale(1.1);
    background-color: #8c8c8c;
    transition: all 0.3s ease;
} */

/* .ListItem {
    display: flex;
    list-style: none;
    color: #19dbae;
    font-size: 1.5rem;
    padding: 5px auto;
    justify-content: space-between;
}

.askGoogle {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #262626;
    text-align: center;
}

button.askGoogle {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #595959;
    border: 1px solid #bdbdbd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
    margin-left: 30px;
}

.button.askGoogle:hover {
    background-color: #8c8c8c;
    transition: all 0.3s ease;
}

/* Responsive Design Mobile */
/* @media screen and (max-width: 768px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        max-width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    } */

/* form {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1 rem;
        margin-top: 1rem;
    } */

/* .todoInput {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    } */

/* .navbar {
        height: 3rem;
    } */

/* .navbar_links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 1rem;
        gap: none;
    } */

/* a {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        height: 50%;
    } */

/* a:hover {
        color: #262626;
        transition: all 0.3s ease;
    }

    h1 {
        font-size: 2rem;
    }

    .listItem {
        font-size: 1.2rem;
    }
} */

/* Responsive Design Mobile */
/* @media screen and (max-width: 330px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        max-width: 90%;
        padding: 0 0.5rem;
    }

    .todoInput {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 1rem;
        margin-bottom: 1rem;
    } */

/* input {
        height: calc(1rem + 2px);
        padding: 0.375rem;
        font-size: 0.8rem;
    } */

/* .navbar {
        height: 3rem;
        max-width: 100%;
    }

    .navbar_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
    } */

/* a {
        font-size: 0.9rem;
    } */

/* .todoListItemContainer {
        width: 13rem;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .label {
        font-size: 0.8rem;
    }

} */